.body
{
  background: rgb(2,0,36);
  background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,59,113,1) 55%, rgba(30,78,88,1) 95%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,59,113,1) 55%, rgba(30,78,88,1) 95%);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,59,113,1) 55%, rgba(30,78,88,1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#1e4e58",GradientType=1);
  padding-bottom: 30px;
}
#navbar {
  background-color: #292929;
}


#body_container{
  padding: 100px;


}

#second_cards{
  padding-top: 40px;
}

#id_footer{
  padding: 30px;
  background: #292929;
  border-top: 10px solid rgba(255,255,255,.2);
}

#id_footer a{
 opacity: 0.6;
}

.container_logo{
  opacity: 0.6;
}

#social_net a{
  padding: 10px;
  color: #b6c624;
  font-size: 30px;
}

#social_net_nav a{
  padding-right: 30px;
  color: #4C759F;
  font-size: 30px;
}

#operaciones_nav a{
  padding-left: 40px;
  color: #4C759F;
  font-size: 30px;
}